name: Selinium Test Pipeline with Reusable Workflow

on:
  workflow_call:
    inputs:
        ENVIRONMENT: 
            description: 'Kubernates Environment staging, production'
            required: true
            type: string
jobs:
   Selinium-tests:
     environment: ${{inputs.ENVIRONMENT}}
     runs-on: arc-runner-set
     steps:
       - name: Checkout
         uses: actions/checkout@v5
       - name: Run Selinum test
         env:
           APP_BASE_URL: ${{vars.APP_BASE_URL}}
         run: |
           mkdir -p reports
           pytest test/ --html=reports/selinium-report.html --self-contained-html
       - name: Upload Selinium test reports
         uses: actions/upload-artifact@v5.0.0
         with:
           name: selinium-test-report
           path: reports/

